@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fafbff;
}

:-webkit-scrollbar {
  margin-right: 30px;
  background-color: rgb(225, 225, 225);
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--text-dark-theme);
  border-radius: 16px;
  border: none;
}
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar:horizontal {
  height: 5px;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input,
textarea {
  outline: none;
}
